.container {
  margin: 1rem auto;
  max-width: 1900px;
  padding: 2rem 6rem;
  background-color: #f6f7fb00;
  z-index: -10;
}

@media screen and (max-width: 1500px) {
  .container {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 2rem 2rem;
  }
}
