.product-card {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.product-card img {
  width: 100%;
  transition: all 0.2s ease-out;
  border-radius: 5px;
}

.product-card img:hover {
  transform: scale(1.2);
}

.image-container {
  border-radius: 5px;
  height: 226.312px;
  width: 100%;
  overflow: hidden;
}

.product_name {
  font-weight: bold;
  margin: 0.5rem 0;
}

.product_price {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}
