.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 21rem;
  margin: 0 0 4rem 0;
  animation: fade-in 0.2s ease-in-out;
}

.banner-title {
  flex: 0.8;
}

.banner-text {
  flex: 0.6;
}

.banner .banner-title h1 {
  padding: 0 2rem;
  font-size: 6rem;
  line-height: 5rem;
  letter-spacing: -0.4rem;
  font-weight: 700;
  animation: letter-right 0.2s ease-in-out;
  text-transform: none;
  position: relative;
}

.line {
  position: absolute;
  margin-top: 0.2rem;
  width: 30rem;
  transform: translateX(2.6rem) rotateX(45deg) rotateY(-5deg);
  opacity: 0;
  animation: fade-in 0.4s ease-in-out forwards;
}

@keyframes letter-right {
  0% {
    letter-spacing: -4rem;
  }
  100% {
    letter-spacing: -0.4rem;
  }
}

@keyframes text-animationn {
  0% {
    transform: translateX(-16.6rem);
  }
  100% {
    transform: translateX(0);
  }
}

.banner .banner-text p {
  padding: 2rem;
  /* text-transform: uppercase; */
  text-align: justify;
  font-size: 1.5rem;
  font-weight: 400;
  animation: text-animationn 0.2s ease-in-out;
}

.banner-colored {
  color: crimson;
  font-weight: 800;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 1rem;
  animation: fade-up 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media screen and (max-width: 1800px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 1rem;
  }
}

@media screen and (max-width: 1500px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1250px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes title-animation {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(84rem);
  }
  100% {
    transform: translateX(82rem);
  }
}

@keyframes text-animation {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

