.title {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 1rem 0;
}

.text {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: -0.5rem;
}

.summary-list {
  display: flex;
  flex-direction: column;
}

.summary-items,
.title {
  max-width: 50%;
  animation: transform-left 0.2s ease-in-out;
}

.cart-screen {
  animation: fade-in 0.2s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cart {
  display: flex;
  justify-content: space-between;
}

.cart-list {
  margin: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  animation: transform-left 0.2s ease-in-out;
}

@keyframes transform-left {
  0% {
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(0);
  }
}

.cart-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cart-items > * {
  margin-right: 1rem;
}

.cart-image {
  height: 100%;
  width: auto;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.cart-title {
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}

.cart-title:hover {
  text-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.quantity select {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  font-family: inherit;
  padding: 1rem;
  border: 0;
  margin-left: 0.5rem;
  background-color: #f6f7fb;
}

.cart-remove-item {
  font-size: 2rem;
}

.checkout {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  max-height: 17rem;
  width: 30rem;
  text-transform: uppercase;
  animation: transform-right 0.2s ease-in-out;
}

@keyframes transform-right {
  0% {
    transform: translateX(-20rem);
  }
  100% {
    transform: translateX(0);
  }
}

.checkout:nth-child(1) {
  margin-bottom: 5rem;
}

.checkout-title {
  font-size: 2.5rem;
}

.checkout-price {
  font-size: 3rem;
  font-weight: 200;
}
.checkout-box {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
