.product-screen {
  animation: fade-in 0.5s ease-in-out;
}

.product {
  display: flex;
  margin: 2rem 0;
}

.product-left {
  flex: 1.2;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  animation: image 0.3s ease-in-out;
  height: 100%;
}

.product_image {
  width: 100%;
  height: auto;
  transform: translateY(0.4rem);
}

.product-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-right_top {
  transform: translateX(-6.6rem);
  background-color: #f6f7fb;
  padding: 1rem;
  animation: title 0.3s ease-in-out;
}

.product-right_top h2 {
  text-transform: uppercase;
  max-width: 40rem;
  font-size: 3rem;
}

.product-right_bottom {
  margin: 2rem 2rem 0 2rem;
  animation: fade-down 0.3s ease-in-out;
}

.price {
  font-size: 3.5rem;
  font-weight: 200;
}

.price span,
.description span,
.stock span,
.quantity label {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.description {
  margin-top: 1rem;
  max-width: 30rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.stock {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

/* Custom Quantity option style */

.quantity {
  margin-top: 1.5rem;
}

.quantity select {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1rem;
  border: 0;
  margin-left: 0.5rem;
  background-color: #f6f7fb;
}

/* Review */

.review-section {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}

.review-title {
  display: grid;
  place-items: center;
  opacity: 0.6;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.review-list {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  gap: 3rem;
}

.review-list-item {
  display: flex;
  flex-direction: column;
}

.review-rating {
  font-size: 1.7rem;
}

.review-comment {
  font-size: 2rem;
  margin: 0.2rem 0;
  display: inline-block;
}

.review-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.review-user_name span,
.review-date {
  opacity: 0.6;
}

.review-signup-text a {
  font-weight: bold;
}

.comment {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.comment-label {
  margin-top: 1rem;
}

.comment-text {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 10px;
  background: rgb(246, 247, 251);
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1rem;
  border: 0px;
  margin: 8px 0px 0px 0px;
  width: 352px;
  height: 131px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes image {
  0% {
    transform: scale(0.01);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes title {
  0% {
    transform: translateX(6.6rem);
  }
  100% {
    transform: translateX(-6.6rem);
  }
}

@keyframes fade-down {
  0% {
    transform: translatey(-13.2rem);
  }
  100% {
    transform: translateX(0);
  }
}
