.profile-screen {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 5rem;
  border-radius: 8px;
}

.order-history {
  flex: 3;
  height: 100%;
}

.profile {
  padding: 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  height: 80%;
  background-color: #eeeeee;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  height: 3rem;
  width: 80%;
}

.profile-pic {
  font-size: 4rem;
}

.profile-name {
  font-weight: 600;
  font-size: 1.4rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 2rem;
  font-size: 1rem;
  width: 100%;
  font-weight: 600;
}

.label-email,
.label-password {
  opacity: 0.6;
}
.label-email-info,
.label-password-info {
  margin-top: -1.7rem;
  font-weight: 600;
  /* opacity: .9; */
}
.label-password {
}
.label-password-info {
  font-size: 4rem;
  margin-top: -4.6rem;
}

.profile-edit {
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.profile-edit:hover,
.profile-edit:active {
  text-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

.profile-edit i {
  font-size: 1.4rem;
}

.form input {
  margin-top: -2rem;
  border: none;
  background: none;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  padding: 0.36rem 0;
  transition: all 0.3s ease-in-out;
  font-family: inherit;
  font-weight: 600;
}

.form input:focus,
.form input:active {
  outline: none;
}

.form input::placeholder {
  font-family: "Montserrat", sans-serif;
  opacity: 0.3;
  transform: translateX(0.3rem);
}

form a {
  margin-top: -4rem;
}

table {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  width: 100%;
}

table caption {
  font-size: 2.7em;
  margin: 0 0 0.5em;
  text-transform: uppercase;
}

table tr {
  background-color: #eeeeee;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}

table th {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #fafafa;
  border-right: 1px solid #ddd;
}

table td {
  opacity: 0.8;
  font-size: 0.9rem;
  border-right: 1px solid #ddd;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
